<div class="" ng-init="init()">

		<div class="row">
			<div class="small-12 columns white-font" style="padding: 30px; background-color: rgba(255, 255, 255, .2)">
		
				
				<div class="medium-3 small-12 columns">
					<centered>
						<img src="media/home/blankicon.png" class="img-responsive" />
					</centered>
				</div>
								
				<div class="medium-9 small-12 columns container fonttype-1">
					<centered>					
						<h2>
						<strong>Company Name</strong>
						</h2>
						<h5  style="text-align: justify">
							{{lorem | words: 25}}
						</h5>
						<br>
						
						
					</centered>
				</div>
				
				<br><br>	
				<div class="small-12 columns container fonttype-1">
					<h6  style="text-align: justify" class="white-font">
							{{lorem | words: 50}}
					</h6>
				</div>
	
		
			</div>
		</div>	




		<!-- CUSTOM CONTROLS -->	
		<div class="row">
			<div class="small-12 columns white-font background-pattern" style="padding: 30px; border-top: 2px solid black; border-bottom: 2px solid black">
					<br><br>
						<centered>
							<h4 class="white-font">Check out our products!</h4>
						</centered>
	        	    <br><br>
			        <ul rn-carousel rn-carousel-buffered rn-carousel-index="slideIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
			            <li ng-repeat="slide in rowSlider">
				                <div class="small-1 columns" >	
				                	&nbsp		
				                	<i class="fa fa-arrow-circle-left fa-2x show-for-medium-up" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 55%" ng-click="prev()"></i>
				                </div>
				                <div class="small-10 columns">
				                	<centered>
				                		<img ng-src="{{slide.image}}" class="" style="cursor: pointer" >
				                		<br><br>
				                		<small class="white-font">{{slide.title}}</small>
				                	</centered>
				                	<br>
				                </div>	
				                <div class="small-1 columns">
									&nbsp
				                	<i class="fa fa-arrow-circle-right fa-2x show-for-medium-up" ng-class="{false: 'hidden', true: 'visible'}[$index < rowSlider.length -1]"  style="cursor: pointer;  margin-top: 55%" ng-click="next()"></i>
				                </div>  
				                
			            </li>
			        </ul>	
			      
					
		    </div>
	    </div>
        <!-- END --> 
        
        
        
        
        <div class="row" style="padding: 30px; background-color: rgba(255, 255, 255, .2)">
        	<br><br>
			<div class="small-12 medium-6 columns white-font" >
				<div class="row">
					
					<div class="small-12 columns container fonttype-1">
						<centered>					
							<h2>
							<strong>Company Agenda</strong>
							</h2>
							<h5  style="text-align: justify">
								{{lorem | words: 100}}
							</h5>
							<br><br>
							
						</centered>
					</div>
					
					<div class="medium-4 small-12 columns">
						<centered>
							
						</centered>
					</div>
					
				</div>
			</div>	   
		
		
			<div class="small-12 medium-6 columns white-font" >
				<div class="row">
					
					<div class="small-12 columns container fonttype-1">
						<centered>					
							<h2>
							<strong>About Us</strong>
							</h2>
							<h5  style="text-align: justify">
								{{lorem | words: 100}}
							</h5>
							<br><br>
							
						</centered>
					</div>
					
					<div class="medium-4 small-12 columns">
						<centered>
							
						</centered>
					</div>
					
				</div>
			</div>	   
			
			

		</div>

		<!-- CUSTOM CONTROLS -->	
		<div class="row">
			<div class="small-12 columns white-font background-pattern-2" style="padding: 30px; border-top: 2px solid black; border-bottom: 2px solid black">
					<br><br>
						<centered>
							<h4 class="white-font">Meet the staff!</h4>
						</centered>
	        	    <br><br>
			        <ul rn-carousel rn-carousel-buffered rn-carousel-index="peopleIndex" rn-carousel-swipe="{{swipe}}" class="my-slider ng-cloak" >
			            <li ng-repeat="slide in peopleSlider">
				                <div class="small-1 columns" >	
				                	&nbsp		
				                	<i class="fa fa-arrow-circle-left fa-2x show-for-medium-up" ng-class="{false: 'hidden', true: 'visible'}[$index > 0]"  style="cursor: pointer; margin-top: 55%" ng-click="prev_p()"></i>
				                </div>
				                <div class="small-10 columns">
				                	<centered>
				                		<img ng-src="{{slide.image}}" class="img-circle" style="cursor: pointer" >
				                		<br><br>
				                		<small class="white-font">{{slide.title}}</small>
				                	</centered>
				                	<br>
				                </div>	
				                <div class="small-1 columns">
									&nbsp
				                	<i class="fa fa-arrow-circle-right fa-2x show-for-medium-up" ng-class="{false: 'hidden', true: 'visible'}[$index < peopleSlider.length -1]"  style="cursor: pointer;  margin-top: 55%" ng-click="next_p()"></i>
				                </div>  
				                
			            </li>
			        </ul>	
			      
					
		    </div>
	   </div>
        <!-- END -->   

	
	
	
		<div class="row">
			<div class="small-12 columns white-font" style="padding: 30px; background-color: rgba(255, 255, 255, .2)">
				<div class="row">
					
					<div class="small-12 columns container fonttype-1">
						<centered>					
							<h2>
							<strong>Contact Us</strong>
							</h2>
							<h5  style="text-align: justify">
								{{lorem | words: 100}}
							</h5>
							<br><br>
							
						</centered>
					</div>
					
					<div class="medium-4 small-12 columns">
						<centered>
							
						</centered>
					</div>
					
				</div>
				
			<div class="small-12 columns white-font" >
			<div style="height: 100px;">
				<!-- SPACING -->
			</div>   				     
			</div>					
				
			</div>	
		</div>
	

			
</div>	

