<div class=""  >

	
	<div id="trueBottom" class="flat-secondary footer-bar" style="width: 100%">

		<div class="row">
			<br>
			<div class="small-12 columns">
				
					<div class="small-2 growIcon fonttype-2 columns pull-left">
						<centered>
							<i class="fa fa-home fa-3x"></i>
							<br>	
							<span ng-class="{mobile: 'hidden'}[responsive()]">										
								<small>HOME</small>
								<br><br>
							</span>
							
						</centered>
					</div>
					<div class="small-2 growIcon fonttype-2 columns pull-left">
						<centered>
							<i class="fa fa-calendar fa-3x"></i>
							<br>
							<span ng-class="{mobile: 'hidden'}[responsive()]">											
								<small>DATES</small>
								<br>
							</span>
							<br>
						</centered>
					</div>	
					<div class="small-2 growIcon fonttype-2 columns pull-left">
						<centered>
							<i class="fa fa-camera-retro fa-3x"></i>
							<br>	
							<span ng-class="{mobile: 'hidden'}[responsive()]">										
								<small>GALLERY</small>
								<br>
							</span>
							<br>
						</centered>
					</div>			
					<div class="small-2 growIcon fonttype-2 columns pull-left">
						<centered>
							<i class="fa fa-video-camera fa-3x"></i>
							<br>	
							<span ng-class="{mobile: 'hidden'}[responsive()]">										
								<small>VIDEO</small>
								<br>
							</span>
							<br>
							
						</centered>
					</div>			
					<div class="small-2 growIcon fonttype-2 columns pull-left">
						<centered>
							<i class="fa fa-gamepad fa-3x"></i>
							<br>	
							<span ng-class="{mobile: 'hidden'}[responsive()]">										
								<small>GAMES</small>
								<br>
							</span>
							<br>
						</centered>
					</div>																
					<div class="small-2 growIcon fonttype-2 columns pull-right">
						<centered>
						<i class="fa-3x growIcon" ng-class="{	desktop: 'fa fa-desktop ', 
																large: 'fa fa-laptop ', 
																medium: 'fa fa-tablet ', 
																small: 'fa fa-mobile ', 
																mobile: 'fa fa-mobile'}[responsive()]">
							</i><br>
							<span ng-class="{mobile: 'hidden'}[responsive()]">
								<small>{{responsive() | uppercase }}</small>
								<br>	
							</span>
							<br>											
							
						</centered>
					</div>										
						

				
			</div>
		

		</div>
	</div>




</div>
			
